<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result</title>
  </head>
  <body>
    <h2>로그인 result</h2>
    <p>아이디: <strong><%= userid %></strong></p>
    <p>비밀번호: <strong><%= userpw %></strong></p>
  </body>
</html>
